body {
    background-color: rgb(134, 240, 229);
}

.title {
    text-align: center;
    font-family: cursive, sans-serif;
    background-color: rgb(134, 240, 229);
    color: white;
    font-size: 80px;
}

.ul-list {
    background-color: rgb(134, 240, 229);
    text-align: center;
}

.ul-list li {
    margin: 10px;
    display: inline-block;
}

.container {
    position: relative;
    width: 100%;
}

.container img {
    width: 100%;
    height: auto;
}

.container .btn {
    position: absolute;
    top: 78%;
    left: 20%;
    background-color: rgb(134, 240, 229);
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: cursive, sans-serif;
  }
  
  .container .btn:hover {
    background-color: white;
  }

