body {
    background-color: rgb(134, 240, 229);
}

.title {
    text-align: center;
    font-family: cursive, sans-serif;
    background-color: rgb(134, 240, 229);
    color: white;
    font-size: 80px;
}

.ul-list {
    background-color: rgb(134, 240, 229);
    text-align: center;
}

.ul-list li {
    margin: 10px;
    display: inline-block;
}

.container {
    position: relative;
    width: 100%;
}

.container img {
    width: 100%;
    height: auto;
}

.container .btn {
    position: absolute;
    top: 78%;
    left: 20%;
    background-color: rgb(134, 240, 229);
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: cursive, sans-serif;
  }
  
  .container .btn:hover {
    background-color: white;
  }

  .pic img {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .titlethree {
    text-align: center;
    font-family: cursive, sans-serif;
    font-size: 40px;
    background-color: rgb(170, 245, 237);
  }

  .ul-section {
    font-family: cursive, sans-serif;
    text-align: center;
  }

  .titlefour {
      font-size: 20px;
  }
  
  .ul-section li {
    display: block;
    padding-right: 50px;
  }

  .ol-section {
    font-family: cursive, sans-serif;
  }

  .titlefour {
      font-size: 20px;
      text-align: center;
  }
  
  .ol-section li {
    list-style-type:upper-roman;
    padding-right: 50px;
  }

  #container .btn {
    position: absolute;
    left: 43%;
    background-color: rgb(170, 245, 237);
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: cursive, sans-serif;
  }
  
  #container .btn:hover {
    background-color: white;