.title {
    text-align: center;
    font-family: cursive, sans-serif;
    background-color: rgb(134, 240, 229);
    color: white;
    font-size: 80px;
}



.container {
    position: relative;
    width: 50%;
}

.container img {
    width: 50%;
    height: auto;
}

.container .btn {
    position: absolute;
    top: 80%;
    left: 10%;
    background-color: rgb(134, 240, 229);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: black;
  }

